div {
  background: rgb(230, 230, 230);  /* Cor de fundo */
  width: 50%; /* Largura */
  height: 500px; /* Altura */
  overflow-x: hidden; /* Não deixa rolar a barra de rolagem horizontal */
  display: flex; /* Alinhamento horizontal */
  flex-direction: column; /* Alinhamento vertical */
  justify-content: center; /* Alinhamento vertical */
  margin-left: 25%; /* Margem esquerda */
  margin-right: 25%; /* Margem direita */
}

h2 {
  text-align: center; /* Alinhamento horizontal */
  font-family: "Roboto", sans-serif; /* Fonte */
  font-size: 20px; /* Tamanho da fonte */
  font-weight: bold; /* Peso da fonte */
  color: #000; /* Cor do texto */
  margin-top: 20px; /* Margem superior */
}

.inputs {
  display: flex; /* Alinhamento horizontal */
  flex-direction: column; /* Alinhamento vertical */
  justify-content: center; /* Alinhamento vertical */
  margin-top: 10px; /* Margem superior */
}

button {
  background-color: #4caf50; /* Cor de fundo */
  color: white; /* Cor do texto */
  padding: 14px 20px; /* espaçamento interno */
  margin: 8px 0; /* espaçamento superior */
  border: none; /* Sem borda */
  cursor: pointer; /* ponteiro do mouse */
  width: 25%; /* largura */
}
