h2 {
  color: red;
  font-size: 20px;
  background-color: #f5f5f5;
}

div {
  width: 100%;
  margin-top: 20px;
  background-color: #f5f5f5;
  font-size: 20px;
}

#confirmar, #cancelar {
  background-color: #4caf50; /* cor de fundo */
  color: rgb(10, 1, 1); /* cor do texto */
  padding: 10px 10px; /* espaçamento interno */
  margin: 8px 0; /* espaçamento superior */
  cursor: pointer; /* ponteiro do mouse */
  width: 7%; /* largura */
}

#cancelar {
  background-color: #f44336; /* cor de fundo */
  margin-left: 10px; /* espaçamento esquerdo */
}
